# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Logs
logs/
*.log

# Data and cache
docs/
hf_cache/
vector_db/
output/
input/
frontend/data
README.md

# System files
.DS_Store
Thumbs.db

# Other
*.pdf
*.sqlite3

# Git
.git/
.gitignore

# OS/Editor files
*.swp
*.swo
*.bak
*.tmp