# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
!.venv/.gitkeep
venv/
!venv/.gitkeep
ENV/
!ENV/.gitkeep

# Logs
logs/*
!logs/.gitkeep
*.log

# Data and cache
hf_cache/*
!hf_cache/.gitkeep
vector_db/*
!vector_db/.gitkeep

# System files
.DS_Store
Thumbs.db

# Other
*.pdf
*.sqlite3

# Streamlit and joblib cache
frontend/data/*
!frontend/data/.gitkeep

# Environment variables and secrets
.env

# VSCode and IDE settings
.vscode/
.idea/ 